{{page-title "SampleApp"}}

<h2>Demo to show off components in this repo</h2>

<DemoNoticeComponent @heading="This is a heading" @footer="This is a Footer">
    Regular Body Text
</DemoNoticeComponent>

<DemoNumbersComponent @numberList="1,10,20,55,69,132,334,1000,2000"></DemoNumbersComponent>

{{outlet}}